*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #0F0F0F;
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  background-color: #FFFFFF;
  margin: 0;
  overflow-x: hidden;
}

.contact-form {
  padding: 10rem 4rem;
}

.contact-form__name-email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
@media all and (min-width: 48rem) {
  .contact-form__name-email {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.contact-form [for=cf-name],
.contact-form [for=cf-email],
.contact-form [for=cf-text] {
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-form [name=cf-name],
.contact-form [name=cf-email],
.contact-form [name=cf-text] {
  font: 2rem "JetBrains Mono", "Courier New", Courier, monospace;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0F0F0F;
  border-radius: 0;
  height: 4rem;
  resize: none;
  padding: 2rem 0;
  margin-bottom: 2.8rem;
}
.contact-form [name=cf-name]:focus,
.contact-form [name=cf-email]:focus,
.contact-form [name=cf-text]:focus {
  color: #00FF40;
  font-size: 2rem;
  outline: none;
}

.contact-form [name=cf-text] {
  height: 14rem;
  resize: none;
}

[type=submit] {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: transparent;
  border: solid 0.2rem #0F0F0F;
  padding: 1.2rem 0;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
[type=submit]:hover {
  background-color: #0F0F0F;
  color: #E5E1DB;
}
@media all and (min-width: 37rem) {
  [type=submit] {
    width: auto;
    padding: 1.2rem 4rem;
  }
}

.btn--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}