@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

.contact-form {
    padding: 10rem 4rem;
}

// Grid
.contact-form__name-email {
    display: grid;
    grid-template-columns: 1fr;

    @include mq($bp-medium) {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

//Labels
.contact-form [for="cf-name"],
.contact-form [for="cf-email"],
.contact-form [for="cf-text"] {
    font-size: $font-size-lowermedium;
    text-transform: uppercase;

}

// Inputs
.contact-form [name="cf-name"],
.contact-form [name="cf-email"],
.contact-form [name="cf-text"] {
    font: $font-size-lowermedium $font-secondary;
    width: 100%;
    border: none;
    border-bottom: 2px solid $color-black;;
    border-radius: 0;
    height: 4rem;
    resize: none;
    padding: 2rem 0;
    margin-bottom: 2.8rem;

    &:focus {
        color: $color-green;
        font-size: $font-size-lowermedium;
        outline: none;
    }
}

.contact-form [name="cf-text"] {
    height: 14rem;
    resize: none;
}

// Button
[type="submit"] {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: $font-size-lowermedium;
    background-color: transparent;
    border: solid 0.2rem $color-black;
    padding: 1.2rem 0;
    width: 100%;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $color-bg-black;
      color: $color-beige;
    }

    @include mq($bp-lowermedium) {
      width: auto;
      padding: 1.2rem 4rem;
    }
}

.btn--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}